.fl {
  float: left;
}
.fr {
  float: right;
}
.main-box {
  width: 65%;
  min-width: 500px;
  margin: 0 auto;
}
.message-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
  &:nth-last-child(1) {
    // border-bottom: none;
    margin-bottom: 0;
  }
}
.question {
  overflow: hidden;
}
.left-img {
  width: 40px;
  float: left;
  .el-icon-chat-dot-round {
    font-size: 40px;
    // color: #002a47;
    color: #409eff;
    transform: scaleX(-1);
    margin-top: 5px;
  }
}
.right-con {
  width: calc(100% - 40px);
  padding-left: 20px;
  font-size: 14px;
}
.message-title {
  overflow: hidden;
  width: 100%;
  margin-bottom: 5px;
  line-height: 40px;
  .username {
    font-weight: bold;
    font-size: 16px;
    &.kefu {
      color: #409eff;
    }
    .el-icon-service {
      color: #409eff;
      font-weight: 600;
      font-size: 18px;
    }
    .text {
      font-weight: normal;
      margin-left: 5px;
      font-size: 15px;
      color: #333;
    }
  }
}
.publish-date {
  color: #9094a3;
  margin-right: 15px;
}
.question-content {
  padding-left: 20px;
  line-height: 20px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}
.reply-textarea {
  height: 100px;
  &.fast-textarea {
    width: 100%;
  }
  /deep/ .el-textarea__inner {
    height: 100px;
    border: none;
    border-bottom: 1px solid #dcdfe6;
  }
}
.reply-inp-box {
  background: #fff;
  height: 140px;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  margin-bottom: 10px;
  &.fast-question {
    width: 100%;
  }
}
.submit-btn {
  float: right;
  margin-right: 10px;
  padding: 12px 0;
}
.reply-con {
  font-size: 14px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  &:nth-last-child(1) {
    border-bottom: none;
    padding-bottom: 0;
  }
}
.reply-btn {
  float: right;
  margin-right: 20px;
  padding: 12px 0;
  &.hang-btn {
    color: #666;
  }
}
.reply-box {
  background: #f6f7fb;
  padding: 15px;
  margin-left: 80px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.card {
  min-height: 400px;
  min-width: 550px;
}
