.no-table-data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
  border-radius: 2px;
  .no-data {
    font-family: "PingFangSC-Regular";
    font-size: 13px;
    color: #a4abbb;
    text-align: left;
    margin-top: 12px;
  }
}
.table-link {
  color: #3f9ee8;
  cursor: pointer;
}
.kr-table-cell-setting {
  text-align: center;
  width: 100%;
  cursor: pointer;
}
/deep/ .sdk-table-header {
  background-color: #f5f7fa !important;
  padding: 8px 0 !important;
}
/deep/ .el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #fafbfc !important;
}
/deep/ .sdk-table-cell {
  padding: 4px 0 !important;
  border-bottom: none !important;
}

.setting-pagination-panel {
  display: block !important;
  text-align: right;
  margin-top: 20px;
  height: 30px;
  box-sizing: border-box;
  /deep/ .el-pager li,
  .el-pager li:last-child {
    font-family: "PingFangSC-Regular";
    font-size: 14px;
    color: #525975;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: 400;
    min-width: 28px;
  }
  /deep/ .el-pager li.active {
    color: #606ecc;
    border-radius: 2px;
    background-color: #f6f7fb;
  }
}
.popoverBtns {
  text-align: right;
  margin-top: 10px;
}
.el-button{
  padding: 8px 16px;
}
/deep/ .statusDot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 12px;
  position: relative;
  top: -2px;
  &.status1 {
    background: #fa6e6e;
  }
  &.status2 {
    background: #7383eb;
  }
  &.status3 {
    background: #35bd94;
  }
}
/deep/ .data-con{
  width: 100px;
  display: inline-block;
}
.clearfix{
  overflow: hidden;
}
.fl{
  float: left;
}
.fr{
  float: right;
}